*~
.*~

*.pyc

temp/
venv/

*.xlsx
*.xls

*.html
*.txt

*.asm
*.lis
*.bin
*.dis
*.rom
*.o
*.mzt
*.cfg

!tests/zilog.asm
!tests/zilog.bin
!tests/undocumented_ixy.asm
!tests/undocumented_ixy.bin

src/yad80.egg-info/
dist/